{% extends "base.html" %} {% block title %}Level Test{% endblock %} {% block
content %}
<div class="container">
  <div class="content-wrapper">
    <br><br>
    <form method="POST">
      <br><br>
      <h1 align="middle">Korean Leveltest (Beginner)</h1><br><br>
      <div class="form-group">
        <div>
          <h4 align="left">Question1: What is a duck written in Korean? (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q1_1" name="q1_1" value="q1_1">
          <label for="q1_1">오리</label><br>
          <input type="checkbox" id="q1_2" name="q1_2" value="q1_2">
          <label for="q1_2">머리</label><br>
          <input type="checkbox" id="q1_3" name="q1_3" value="q1_3">
          <label for="q1_3">미리</label><br>
          <input type="checkbox" id="q1_4" name="q1_4" value="q1_4">
          <label for="q1_4">우리</label><br><br>
        </div>
        <div>
          <h4 align="left">Question2: Choose the right sentence for the following statement; A: 안녕히 계세요. B: __________ (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q2_1" name="q2_1" value="q2_1">
          <label for="q2_1">괜찮아요.</label><br>
          <input type="checkbox" id="q2_2" name="q2_2" value="q2_2">
          <label for="q2_2">반가워요.</label><br>
          <input type="checkbox" id="q2_3" name="q2_3" value="q2_3">
          <label for="q2_3">여기있어요.</label><br>
          <input type="checkbox" id="q2_4" name="q2_4" value="q2_4">
          <label for="q2_4">내일 또 봐요.</label><br><br>
        </div>
        <div>
          <h4 align="left">Question3: Choose the right sentence for the following statement; A: 안녕히 계세요. B: __________ (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q3_1" name="q3_1" value="q3_1">
          <label for="q3_1">미안해요.</label><br>
          <input type="checkbox" id="q3_2" name="q3_2" value="q3_2">
          <label for="q3_2">아니에요.</label><br>
          <input type="checkbox" id="q3_3" name="q3_3" value="q3_3">
          <label for="q3_3">잠깐만요. 못 준게 있어요.</label><br>
          <input type="checkbox" id="q3_4" name="q3_4" value="q3_4">
          <label for="q3_4">좋겠어요.</label><br><br>
        </div>
        <div>
          <h4 align="left">Question4: Choose the right location for the following statement; A: 어떻게 오셨어요?. B: 이거 한국 돈으로 바꿔 주세요. (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q4_1" name="q4_1" value="q4_1">
          <label for="q4_1">꽃집</label><br>
          <input type="checkbox" id="q4_2" name="q4_2" value="q4_2">
          <label for="q4_2">공항</label><br>
          <input type="checkbox" id="q4_3" name="q4_3" value="q4_3">
          <label for="q4_3">교실</label><br>
          <input type="checkbox" id="q4_4" name="q4_4" value="q4_4">
          <label for="q4_4">약국</label><br><br>
        </div>
        <div>
          <h4 align="left">Question5: Choose the right location for the following statement; A: 어떻게 오셨어요?. B: 이거 한국 돈으로 바꿔 주세요. (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q5_1" name="q5_1" value="q5_1">
          <label for="q5_1">은행</label><br>
          <input type="checkbox" id="q5_2" name="q5_2" value="q5_2">
          <label for="q5_2">우체국</label><br>
          <input type="checkbox" id="q5_3" name="q5_3" value="q5_3">
          <label for="q5_3">백화점</label><br>
          <input type="checkbox" id="q5_4" name="q5_4" value="q5_4">
          <label for="q5_4">택시</label><br><br>
        </div>
        <div>
          <h4 align="left">Question6: Choose the right word which is related to the following statement; 지금은 아침입니다. 여덟 시입니다. (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q6_1" name="q6_1" value="q6_1">
          <label for="q6_1">사람</label><br>
          <input type="checkbox" id="q6_2" name="q6_2" value="q6_2">
          <label for="q6_2">나이</label><br>
          <input type="checkbox" id="q6_3" name="q6_3" value="q6_3">
          <label for="q6_3">계절</label><br>
          <input type="checkbox" id="q6_4" name="q6_4" value="q6_4">
          <label for="q6_4">시간</label><br><br>
        </div>
        <div>
          <h4 align="left">Question7: Choose the right word which is related to the following statement; 오늘은 집에 있습니다. 쉽니다. (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q7_1" name="q7_1" value="q7_1">
          <label for="q7_1">나라</label><br>
          <input type="checkbox" id="q7_2" name="q7_2" value="q7_2">
          <label for="q7_2">휴일</label><br>
          <input type="checkbox" id="q7_3" name="q7_3" value="q7_3">
          <label for="q7_3">쇼핑</label><br>
          <input type="checkbox" id="q7_4" name="q7_4" value="q7_4">
          <label for="q7_4">직업</label><br><br>
        </div>
        <div>
          <h4 align="left">Question8: Choose the right word which is related to the following statement; 저는 바지를 좋아합니다. 치마는 안 입습니다. (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q8_1" name="q8_1" value="q8_1">
          <label for="q8_1">옷</label><br>
          <input type="checkbox" id="q8_2" name="q8_2" value="q8_2">
          <label for="q8_2">값</label><br>
          <input type="checkbox" id="q8_3" name="q8_3" value="q8_3">
          <label for="q8_3">일</label><br>
          <input type="checkbox" id="q8_4" name="q8_4" value="q8_4">
          <label for="q8_4">집</label><br><br>
        </div>      
        <div>
          <h4 align="left">Question9: Choose the right word for the following statement; 저는 ______에 갑니다. 공부를 합니다. (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q9_1" name="q9_1" value="q9_1">
          <label for="q9_1">약국</label><br>
          <input type="checkbox" id="q9_2" name="q9_2" value="q9_2">
          <label for="q9_2">학교</label><br>
          <input type="checkbox" id="q9_3" name="q9_3" value="q9_3">
          <label for="q9_3">여행사</label><br>
          <input type="checkbox" id="q9_4" name="q9_4" value="q9_4">
          <label for="q9_4">편의점</label><br><br>
        </div>
        <div>
          <h4 align="left">Question10: Choose the right word for the following statement; 전화를 합니다. 친구와 _______ (Multiple choices allowed)</h4><br>
        
          <input type="checkbox" id="q10_1" name="q10_1" value="q10_1">
          <label for="q10_1">씁니다</label><br>
          <input type="checkbox" id="q10_2" name="q10_2" value="q10_2">
          <label for="q10_2">줍니다</label><br>
          <input type="checkbox" id="q10_3" name="q10_3" value="q10_3">
          <label for="q10_3">읽습니다.</label><br>
          <input type="checkbox" id="q10_4" name="q10_4" value="q10_4">
          <label for="q10_4">이야기합니다.</label><br><br>
        </div>







        
        
        
      
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}