{% extends "base.html" %} {% block title %}Level Test Result{% endblock %} {% block
content %}
<div class="container">
  <div class="content-wrapper">
    <br><br>
    <form method="POST">  
      <h1>Member List</h1><br>

        
      
      {% for n in users %}
      <li class="list-group-item">
        {{n.id}} | 
        Email: {{n.email}},
        Name: {{n.first_name}}
        <button type="button" class="close" onClick="deleteUser({{ n.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </form>  
    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}