{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}

<div class="container">
  <div class="content-wrapper">

    <br><br>

    <form method="POST">
      <body class="hold-transition register-page">
      <div class="register-box">
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a href="/login" class="h1"><b>R&S</b> Korean</b></a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">Register a new membership</p>

            <form action="../../index.html" method="post">
              <div class="input-group mb-3">
                <label for="email" class="label"></label>
                  <input type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <label for="pass" class="label"></label>
                  <input type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <label for="password1" class="label"></label>
                  <input type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <label for="password2" class="label"></label>
                  <input type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="icheck-primary">
                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                    <label for="agreeTerms">
                    I agree to the <a href="#">terms</a>
                    </label>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
                <!-- /.col -->
              </div>
            </form>

            

            <a href="/login" class="text-center">I already have a membership</a>
          </div>
          <!-- /.form-box -->
        </div><!-- /.card -->
      </div>
      <!-- /.register-box -->
    </form>
  </div>
</div>


{% endblock %}